<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>AEyeWeb</title>
  <base href="/static/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.913574e0521432a4.css"></head>
<body>
  <app-root></app-root>
<script src="runtime.5fbb15e66b205792.js" type="module"></script><script src="polyfills.500c460684eb4547.js" type="module"></script><script src="scripts.8159a5b28f18b6db.js" defer></script><script src="main.35941e2c64302a3b.js" type="module"></script></body>
</html>
